.blog {
  width: 100%;
}
.blog-heading {
  color: var(--title-color);
  padding: 1em;
  margin: 0;
  text-align: center;
}
.blog__title {
  color: var(--title-color);
  padding: 1em;
  margin: 0;
}
.blog__subtitle {
  text-align: justify;
}
.blog-article {
  margin-bottom: 1em;
}
.blog-article__title {
  color: var(--title-color);
  padding: 1em;
  margin: 0;
}
.blog-article__subtitle {
  padding: 0 1em 0 1em;
  text-align: justify;
}

.blog__image {
  display: block;
  width: 100%;
  box-shadow: 1px 1px 1px 2px black;
}

.blog-article__date {
  color: var(--link-date-color);
  padding: 0 0 0 1em;
  margin: 0;
}

.blog-article__link {
  color: var(--link-date-color);
  transition: border 0.3s ease-in-out, color 0.3s ease-in-out;
  margin: 0 0 0 1em;
  width: 28%;
}
.blog-article__link:hover {
  border-radius: 6px;
  border: 2px solid var(--title-color);
  color: var(--title-color);
  width: 28%;
  text-align: center;
}
